<% if (post.comments) { %>
    <% if (theme.comment.disqus) { %>
        <a href="<%- post.permalink %>#comments" class="article-comment-link disqus-comment-count" data-disqus-url="<%= post.permalink %>"><%= __('article.comments') %></a>
    <% } else if (theme.comment.duoshuo) { %>
        <a href="<%- post.permalink %>#comments" class="article-comment-link ds-thread-count" data-thread-key="<%= post.permalink %>"><%= __('article.comments') %></a>
    <% } else if (theme.comment.youyan) { %>
        <a href="<%- post.permalink %>#comments" class="article-comment-link"><%= __('article.comments') %></a>
    <% } else if (theme.comment.isso) { %>
        <a href="<%= post.permalink %>#comments" class="article-comment-link"><%= __('article.comments') %></a>
    <% } else if (theme.comment.facebook) { %>
        <a href="<%= post.permalink %>#comments" class="article-comment-link"><span class="fb-comments-count" data-href="<%= post.permalink %>">0</span>&nbsp;<%= __('article.comments') %></a>
    <% } else if (theme.comment.changyan && theme.comment.changyan.appid && theme.comment.changyan.conf) { %>
        <a href="<%= post.permalink %>#comments" id="sourceId::<%= post.path %>" class="article-comment-link cy_cmt_count"><%= __('article.comments') %></a>
    <% } %>
<% } %>