<% if (post.comments) { %>
    <% if (theme.comment.disqus) { %>
        <a href="<%- post.permalink %>#comments" class="article-comment-link disqus-comment-count" data-disqus-url="<%= post.permalink %>"><%= __('article.comments') %></a>
    <% } else if (theme.comment.duoshuo) { %>
        <a href="<%- post.permalink %>#comments" class="article-comment-link ds-thread-count" data-thread-key="<%= post.permalink %>"><%= __('article.comments') %></a>
    <% } else if (theme.comment.youyan) { %>
        <a href="<%- post.permalink %>#comments" class="article-comment-link"><%= __('article.comments') %></a>
    <% } %>
<% } %>