<% if (post.comments) { %>
    <section id="comments">
    <% if (theme.comment.disqus) { %>
        <%- partial('comment/disqus') %>
    <% } else if (theme.comment.duoshuo) { %>
        <%- partial('comment/duoshuo') %>
    <% } else if (theme.comment.youyan) { %>
        <%- partial('comment/youyan') %>
    <% } else if (theme.comment.facebook) { %>
      <%- partial('comment/facebook') %>
    <% } else if (theme.comment.isso) { %>
        <%- partial('comment/isso') %>
    <% } else if (theme.comment.changyan && theme.comment.changyan.appid && theme.comment.changyan.conf) { %>
        <%- partial('comment/changyan') %>
    <% } %>
    </section>
<% } %>