<% if (typeof(script) !== 'undefined' && script) { %>
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src="//cdn.jsdelivr.net/gh/xcss/valine@v1.1.6/dist/Valine.min.js"></script>
    <script>
        new Valine({
            el: '#valine-thread' ,
            notify:<%= theme.comment.valine.notify %>,
            verify:<%= theme.comment.valine.verify %>,
            app_id: '<%= theme.comment.valine.appId %>',
            app_key: '<%= theme.comment.valine.appKey %>',
            placeholder: '<%= theme.comment.valine.placeholder %>'
        });
    </script>
<% } else { %>
    <div id="valine-thread"></div>
<% } %>