<div class="card widget">
  <div class="card-content">
    <div class="menu">
      <h3 class="menu-label">
        <%= __('widget.email.title') %>
      </h3>
      <div>
        <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow"
          onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=<%= get_config_from_obj(widget, 'feedburner_id') %>', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
          <input type="hidden" value="<%= get_config_from_obj(widget, 'feedburner_id') %>" name="uri" />
          <input type="hidden" name="loc" value="en_US" />
          <div class="field">
            <div class="control has-icons-left">
              <input class="input" name="email" type="email" />
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <p class="help"><%= get_config_from_obj(widget, 'description') %></p>
          </div>
          <div class="field is-grouped is-grouped-right">
            <div class="control">
              <input class="button is-link" type="submit" value="<%= __('widget.email.button') %>" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
