<!DOCTYPE html>
<html <%- has_config('language') ? ' lang="' + get_config('language').substring(0, 2) + '"' : '' %>>
<head>
    <%- _partial('common/head') %>
</head>
<body class="is-<%= column_count() %>-column">
    <!-- night mode -->
    <script type="text/javascript" src="/js/night.js"></script>
    <canvas id="universe"></canvas>
    <script type="text/javascript" src="/js/universe.js"></script>
    <!-- night mode -->

    <%- _partial('common/navbar') %>
    <% function main_column_class() {
        switch (column_count()) {
            case 1:
                return 'is-12';
            case 2:
                return 'is-8-tablet is-9-desktop is-9-widescreen is-9-fullhd';;
            case 3:
                if(is_post() === false){
                    return get_config('proportion.homepage.article');
                }
                else{
                    return get_config('proportion.post.article');
                }
                
        }
        return '';
    } %>
    <section class="section">
        <div>
            <div class="columns is-centered">
                <%-  _partial('common/widget', { position: 'left' }) %>
                <div class="column <%= main_column_class() %> has-order-2 column-main"><%- body %></div>
                <%-  _partial('common/widget', { position: 'right' }) %>
            </div>
        </div>
    </section>
    <%- _partial('common/footer') %>
    <%- _partial('common/scripts') %>

    <% if (has_config('search.type')) { %>
    <%- _partial('search/' + get_config('search.type')) %>
    <% } %>
</body>
</html>
