<%- partial('_partial/head') %>
<body>
  <div id="container">
    <%- partial('_partial/header') %>
    <div class="outer">
      <% if (theme.profile){ %>
        <%- partial('_partial/profile', null, {cache: !config.relative_link}) %>
      <% } %>
      <section id="main"><%- body %></section>
      <% if (theme.sidebar){ %>
        <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
      <% } %>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>