<!DOCTYPE html>
<html <%- has_config('language') ? ' lang="' + get_config('language').substring(0, 2) + '"' : '' %>>
<head>
    <%- _partial('common/head') %>
</head>
<body class="is-<%= column_count() %>-column <%- get_config('navbar.sticky', false) ? 'has-navbar-fixed-top' : '' %>">
    <%- _partial('common/navbar') %>
    <section class="section">
        <div class="container">
            <div class="columns">
                <% function main_column_class(count) {
                    switch (count) {
                        case 1:
                            return 'is-12';
                        case 2:
                            return 'is-8-tablet is-8-desktop is-8-widescreen';
                        case 3:
                            return 'is-8-tablet is-8-desktop is-6-widescreen'
                    }
                    return '';
                } %>
                <% if (page.layout == 'error_page') { %>
                    <!-- Error Page -->
                    <div class="column is-12 has-order-2 column-main"><%- _partial('error') %></div>
                <% } else if (page.layout == 'raw') { %>
                    <!-- Raw Page -->
                    <%- page.content %>
                <% } else { %>
                    <!-- Normal Page -->
                    <% column = column_count(); %>
                    <% if ((page.layout == 'post' && get_config('sidebar.left.hide_in_post', false)) || page.no_left_widget) { %>
                        <% if (has_column('left')) column--; %>
                    <% } else { %>
                        <%- _partial('common/widget', { position: 'left' }) %>
                    <% } %>
                    <% if ((page.layout == 'post' && get_config('sidebar.right.hide_in_post', false)) || page.no_right_widget) { %>
                        <% if (has_column('right')) column--; %>
                    <% } else {  %>
                        <%- _partial('common/widget', { position: 'right' }) %>
                    <% } %>
                    <div class="column <%= main_column_class(column) %> has-order-2 column-main"><%- body %></div>
                <% } %>
            </div>
        </div>
    </section>
    <%- _partial('common/footer') %>
    <%- _partial('common/scripts') %>

    <% if (has_config('search.type')) { %>
    <%- _partial('search/' + get_config('search.type')) %>
    <% } %>
</body>
</html>