<% switch (type) {
    case 'archive':
    var last;
    page.posts.each(function(post, i){
    var year = post.date.year();
    if (last != year){
      if (last != null){ %>
        </div></section>
      <% }
      last = year; %>
      <div class="archive-year-wrap">
        <i class="fa fa-archive"></i>
        <a href="<%- url_for('archives/' + year) %>" class="archive-year"><%= year %></a>
      </div>
      <section class="archives-wrap">
        <div class="archives">
    <% } %>
    <%- partial('archive-post', {post: post, archive: true}) %>
  <% });
    if (page.posts.length){ %>
    </div></section>
  <% }
    if (page.total > 1){ %>
      <nav id="page-nav">
        <%- paginator({
          prev_text: '&laquo; ' + __('nav.prev'),
          next_text: __('nav.next') + ' &raquo;'
        }) %>
      </nav>
    <% }
    break;
  case 'category': %>
    <section class="archives-wrap">
    <div class="archive-category-wrap">
      <i class="fa fa-folder"></i>
      <span class="archive-category"><%= page.category %></span>
    </div>
    <div class="archives">
    <% page.posts.each(function (post, i) { %>
      <%- partial('archive-post', {post: post, archive: false}) %>
    <% }); %>
    </div></section>
    <% if (page.total > 1){ %>
      <nav id="page-nav">
        <%- paginator({
          prev_text: '&laquo; ' + __('nav.prev'),
          next_text: __('nav.next') + ' &raquo;'
        }) %>
      </nav>
    <% }
    break;
  case 'tag': %>
    <section class="archives-wrap">
    <div class="archive-tag-wrap">
      <i class="fa fa-tag"></i>
      <span class="archive-tag">#<%= page.tag %></span>
    </div>
    <div class="archives">
    <% page.posts.each(function (post, i) { %>
      <%- partial('archive-post', {post: post, archive: false}) %>
    <% }); %>
    </div></section>
    <% if (page.total > 1){ %>
      <nav id="page-nav">
        <%- paginator({
          prev_text: '&laquo; ' + __('nav.prev'),
          next_text: __('nav.next') + ' &raquo;'
        }) %>
      </nav>
    <% }
    break;
  default:
    page.posts.each(function(post){ %>
      <%- partial('article', {post: post, index: true}) %>
    <% })
    if (page.total > 1){ %>
      <nav id="page-nav">
        <%- paginator({
          prev_text: '&laquo; ' + __('nav.prev'),
          next_text: __('nav.next') + ' &raquo;'
        }) %>
      </nav>
    <% }
    break;
} %>