<header id="header">
  <div id="header-main" class="header-inner">
    <div class="outer">
      <a href="<%- url_for() %>" id="logo"><i class="logo"></i><span class="site-title"><%= config.title %></span></a>
      <div id="search-form-wrap">
        <%- search_form({button: ' '}) %>
      </div>
      <nav id="main-nav">
        <% for (var i in theme.menu){ %>
          <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
      </nav>
    </div>
  </div>
  <% if(page.category || page.archive) { %>
  <div id="header-sub" class="header-inner">
    <div class="outer">
      <%- list_categories({depth: 1}) %>
    </div>
  </div>
  <% } %>
</header>