<header id="header">
  <div id="header-main" class="header-inner">
    <div class="outer">
      <a href="<%- url_for() %>" id="logo"><%- (theme.logo? '<i class="logo" style="background-image: url(' + url_for(theme.logo) + ')"></i>':'') %><span class="site-title"><%= config.title %></span></a>
      <nav id="main-nav">
        <% for (var i in theme.menu){ %>
          <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
      </nav>
      <% if(theme.profile) { %>
        <nav id="sub-nav">
          <div class="profile" id="profile-nav">
            <a id="profile-anchor" href="javascript:;"><img class="avatar" src="<%= ( theme.gravatar ? gravatar(config.email) : url_for(config.avatar)) %>"><i class="fa fa-caret-down"></i></a>
          </div>
        </nav>
      <% } %>
      <div id="search-form-wrap">
        <%- search_form({ button: ' ', text: __('index.search') }) %>
      </div>
    </div>
  </div>
  <div id="main-nav-mobile" class="header-sub header-inner">
    <table class="menu outer">
      <tr>
        <% for (var i in theme.menu){ %>
          <td><a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a></td>
        <% } %>
        <td>
          <%- search_form({ text: __('index.search') }) %>
        </td>
      </tr>
    </table>
  </div>
</header>
