<aside id="profile">
  <div class="inner profile-inner">
  	<div class="base-info profile-block">
		  <img id="avatar" src="<%- url_for(config.avatar) %>">
      <h2 id="name"><%= config.author %></h2>
      <h3 id="title"><%= config.author_title %></h3>
      <span id="location"><i class="fa fa-map-marker"></i><%= config.location %></span>
      <a id="follow" href="http://github.com/ppoffice">FOLLOW</a>
  	</div>
    <div class="article-info profile-block">
      <div class="article-info-block">
        <%= site.posts.length %>
        <span>post<%= (site.posts.length > 1?'s':'') %></span>
      </div>
      <div class="article-info-block">
        <%= site.tags.length %>
        <span>tag<%= (site.tags.length > 1?'s':'') %></span>
      </div>
    </div>
    <div class="contact-info profile-block">
      <table class="contact-list">
        <tr>
        <% for(var i in theme.contacts) { %>
          <td><a href="<%- url_for(theme.contacts[i]) %>" title="<%= i %>"><i class="fa fa-<%= i %>"></i></a></td>
        <% } %>
        </tr>
      </table>
    </div>
  </div>
</aside>