<aside id="profile">
    <div class="inner profile-inner">
        <div class="base-info profile-block">
            <img id="avatar" src="<%- gravatar(theme.email) %>">

            <h2 id="name"><%= config.author %></h2>

            <h3 id="title"><%= config.author_title %></h3>
            <span id="location"><i class="fa fa-map-marker"></i><%= config.location %></span>
            <a id="follow" href="<%= config.follow %>"><%= __('profile.follow') %></a>
        </div>
        <div class="article-info profile-block">
            <div class="article-info-block">
                <%= site.posts.length %>
                <span><%= (site.posts.length > 1 ? __('profile.posts') : __('profile.post')) %></span>
            </div>
            <div class="article-info-block">
                <%= site.tags.length %>
                <span><%= (site.tags.length > 1 ? __('profile.tags') : __('profile.tag')) %></span>
            </div>
        </div>
        <% if(theme.contacts) { %>
        <div class="contact-info profile-block">
            <table class="contact-list">
                <tr>
                    <% for(var i in theme.contacts) { %>
                    <td><a href="<%- url_for(theme.contacts[i]) %>" target="_blank" title="<%= i %>"><i
                                    class="fa fa-<%= i %>"></i></a></td>
                    <% } %>
                </tr>
            </table>
        </div>
        <% } %>
        <div class="article-info profile-block bio">
            <h2>About</h2>

            <p>I'm a software developer who likes to tweak/break gadgets and complain about everything under the
                sun. When I'm not doing that, I'm usually playing games, watching films or watching sports.
            </p>
        </div>
    </div>
</aside>