<div class="my_post_copyright">
    <div style="text-align:center" class="menu-label">------ copyright ------</div>
    <p style="text-align:center" class="menu-label"> 本博客所有文章除特别声明外，均采用 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="external nofollow" target="_blank"><i class="fab fa-creative-commons" style="color:#29a329"></a></i> 许可协议</p>  

    <script src="//cdn.bootcss.com/clipboard.js/1.5.10/clipboard.min.js"></script>
    <div class="has-text-grey is-size-7 is-block">
    <p><span>title:</span><a href="<%= url_for(page.path) %>"><%= page.title %></a></p>
    <p><span>author:</span><a href="/"><%= get_config('author') %></a></p>
    <p>
        <span>link:</span><a href="<%= url_for(page.path) %>" title="<%= page_title() %>"><%= get_config('permalink') %></a>
        <span class="copy-path"  title="Click to Copy Link"><i class="fa fa-clipboard" data-clipboard-text="<%= get_config('permalink') %>"  aria-label="复制成功！"></i></span>
    </p>
    <p><span>publish time:</span><%= date(page.date) %></p>
    <p><span>update time:</span><%= date(page.updated) %></p>
    </div>
</div>
<!-- <ul class="post-copyright">
    <li><strong>本文标题：</strong><a href="<%= post.permalink %>"><%= page.title %></a></li>
     <li><strong>本文作者：</strong><a href="<%= theme.url %>"><%= theme.author %></a></li>
    <li><strong>本文链接：</strong><a href="<%= post.permalink %>"><%= post.permalink %></a></li>
    <li><strong>发布时间：</strong><%= post.date.format("YYYY-MM-DD") %></li>
    <li><strong>版权声明：</strong>本博客所有文章除特别声明外，均采用 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="external nofollow" target="_blank">CC BY-NC-SA 4.0</a> 许可协议。转载请注明出处！
    </li>
</ul> -->
<script> 
    var clipboard = new Clipboard('.fa-clipboard');
    $(".fa-clipboard").click(function(){
        clipboard.on('success', function(){
            swal({   
                title: "",   
                text: '复制成功',
                icon: "success", 
                showConfirmButton: true
            });
         });
    });  
</script>
