<footer class="footer">
    <div class="container">
        <div class="level">
            <div class="level-start has-text-centered-mobile">
                <a class="footer-logo is-block has-mb-6" href="<%- url_for('/') %>">
                <% if (has_config('logo.text') && get_config('logo.text')) { %>
                    <%= get_config('logo.text') %>
                <% } else { %>
                    <img src="<%- url_for(get_config('logo')) %>" alt="<%= get_config('title') %>" height="28">
                <% } %>
                </a>
                <p class="is-size-7">
                &copy; <%= date(new Date(), 'YYYY') %> <%= get_config('author') || get_config('title') %>&nbsp;
                <a href="http://www.beian.miit.gov.cn" target="_blank">浙ICP备18045315号-1</a>
                Powered by <a href="https://hexo.io/" target="_blank">Hexo</a> & <a
                        href="https://github.com/ppoffice/hexo-theme-icarus" target="_blank">Icarus</a>
                        <br>
                        <span><i class="fa fa-bug" aria-hidden="true"></i> Websit Spider <a href="<%=config.url %>/baidusitemap.xml">Baidu Sitmap</a>  and  <a href="<%=config.url %>/sitemap.xml">Google Sitmap</a></span>
                <% if (has_config('plugins.busuanzi') ? get_config('plugins.busuanzi') : false) { %>
                <br>
                <span id="busuanzi_container_site_uv">
                <%- _p('plugin.visitor', '<span id="busuanzi_value_site_uv">0</span>') %>
                </span>
                <% } %>
                <% if (has_config('plugins.tj51la') ? get_config('plugins.tj51la') : false) { %>
                
                <% } %>
                <% if (has_config('plugins.baidu-auto-push') ? get_config('plugins.baidu-auto-push') : false) { %>
                
                <% } %>
                <% if (has_config('plugins.360-auto-push') ? get_config('plugins.baidu-auto-push') : false) { %>
                
                <% } %>
                </p>
            </div>
            <div class="level-end">
            <% if (has_config('footer.links')) { %>
                <div class="field has-addons is-flex-center-mobile has-mt-5-mobile is-flex-wrap is-flex-middle">
                <% let links = get_config('footer.links'); %>
                <% for (let name in links) {
                        let link = links[name]; %>
                <p class="control">
                    <a class="button is-white <%= typeof(link) !== 'string' ? 'is-large' : '' %>" target="_blank" title="<%= name %>" href="<%= url_for(typeof(link) === 'string' ? link : link.url) %>">
                        <% if (typeof(link) === 'string') { %>
                        <%= name %>
                        <% } else { %>
                        <i class="<%= link.icon %>"></i>
                        <% } %>
                    </a>
                </p>
                <% } %>
                </div>
            <% } %>
            </div>
        </div>
    </div>
</footer>