<ul class="menu">
  <% for (const i in theme.menu) { %>
    <% if (!theme.menu[i].url) { %>
      <li class="menu-list" onclick="void(0)" tabindex="0">
        <a class="main-nav-link dropdown-toggle" aria-haspopup="true">
          <i class="fa fa-<%= theme.menu[i].icon %>"></i><%= i %> <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu">
          <% for (const j in theme.menu[i]) { %>
            <% if (j != 'icon') { %>
              <li tabindex="1"><a class="main-nav-link" href="<%- url_for(theme.menu[i][j].url) %>"><i class="fa fa-<%= theme.menu[i][j].icon %>"></i><%= j %></a></li>
            <% } %>
          <% } %>
        </ul>
      </li>
    <% } else { %>
      <li><a class="main-nav-link" href="<%- url_for(theme.menu[i].url) %>"><i class="fa fa-<%= theme.menu[i].icon %>"></i><%= i %></a></li>
    <% } %>
  <% } %>
</ul>
