<nav class="navbar navbar-main">
    <div class="container">
        <div class="navbar-brand is-flex-center">
            <a class="navbar-item navbar-logo" href="<%- url_for('/') %>">
            <% if (logo && logo.text) { %>
                <%= logo.text %>
            <% } else { %>
                <img src="<%- url_for(logo) %>" alt="<%= title %>" height="28">
            <% } %>
            </a>
        </div>
        <div class="navbar-menu">
            <% if (Object.keys(menus).length) { %>
            <div class="navbar-start">
                <% for (let i in menus) { let menu = menus[i]; %>
                <a class="navbar-item<% if (actives[i]) { %> is-active<% } %>"
                href="<%- url_for(menu) %>"><%= i %></a>
                <% } %>
            </div>
            <% } %>
            <div class="navbar-end">
                <% if (Object.keys(links).length) { %>
                    <% for (let name in links) {
                            let link = links[name]; %>
                    <a class="navbar-item" target="_blank" rel="noopener" title="<%= name %>" href="<%= url_for(typeof(link) === 'string' ? link : link.url) %>">
                        <% if (typeof(link) === 'string') { %>
                        <%= name %>
                        <% } else { %>
                        <i class="<%= link.icon %>"></i>
                        <% } %>
                    </a>
                    <% } %>
                <% } %>
                <% if (hasToc) { %>
                <a class="navbar-item is-hidden-tablet catalogue" title="<%= _p('widget.catalogue', Infinity) %>" href="javascript:;">
                    <i class="fas fa-list-ul"></i>
                </a>
                <% } %>
                <% if (search) { %>
                <a class="navbar-item search" title="<%= __('search.search') %>" href="javascript:;">
                    <i class="fas fa-search"></i>
                </a>
                <% } %>
            </div>
        </div>
    </div>
</nav>