<div class="thumbnail">
    <% if (post.thumbnail) { %>
        <span style="background-image:url(<%- url_for(post.path) %><%= post.thumbnail %>)" alt="<%= post.title %>" class="thumbnail-image"></span>
    <% } else if (post.banner) { %>
        <span style="background-image:url(<%- url_for(post.path) %><%= post.banner %>)" alt="<%= post.title %>" class="thumbnail-image"></span>
    <% } else { %>
        <span class="thumbnail-image thumbnail-none"></span>
    <% } %>
</div>
