<% if (get_widgets(position).length) { %>
<% function side_column_class() {
    switch (column_count()) {
        case 2:
            return 'is-4-tablet is-3-desktop is-3-widescreen is-3-fullhd';
        case 3:
            if(is_post() === false){
                return get_config('proportion.homepage.sidebar');
            }
            else{
                return get_config('proportion.post.sidebar');
            }
    }
    return '';
} %>
<% function visibility_class() {
    if(is_post()===false && column_count() === 3 && position === 'right'){
        return 'is-hidden-touch';
    }
    if(is_home()===false && is_post()===false){
        return 'is-hidden-mobile';
    }
    if(is_post()===true && column_count() === 3 && position === 'left'){
        return 'is-hidden-touch  is-hidden-desktop-only';
    }
    return '';
} %>
<% function order_class() {
    if(is_post() === true){
        return position === 'left' ? 'has-order-3' : 'has-order-1';
    }
    else{
        return position === 'right' ? 'has-order-3' : 'has-order-1';
    }
} %>
<% function sticky_class(position) {    
    return get_config('sidebar.' + position + '.sticky', false) ? 'is-sticky' : '';
} %>

<div class="column <%= side_column_class() %> <%= visibility_class() %> <%= order_class() %> column-<%= position %> <%= sticky_class(position) %>">    
    <% get_widgets(position).forEach(widget => {%>
        <%- _partial('widget/' + widget.type, { widget }) %>
    <% }) %>
    <% if (position === 'left' && is_post() === false ) { %>
        <div class="column-right-shadow is-hidden-desktop">
        <% get_widgets('right').forEach(widget => {%>
            <%- _partial('widget/' + widget.type, { widget }) %>
        <% }) %>
        </div>
    <% } %>
    
</div>
<% } %>